server {
    root /www/data;

    location / {
    }

    location /img/ {
    }
    location / {
    autoindex on;
    autoindex_exact_size on;
    }
    location /api {
    autoindex on;
    autoindex_exact_size on;
    }
}